<html>
    <head>
        <title>Cheerleading UFSCAR</title>
    </head>
    <body>
        <div>
            <h1><a href="">Cheer UFSCAR</a></h1>
        </div>

        <div>
            <p>published: 26.05.2016, 18:19</p>
            <h2><a href="">Voce sabe o que e cheerleading?</a></h2>
            <p>Cheerleading e um esporte criado nos EUA que mistura elementos acrobaticos da ginastica, danca e ballet. Sua categoria competitiva e considerada uma das mais perigosas do mundo!</p>
        </div>

        <div>
            <p>published:26.05.2016, 18:22 </p>
            <h2><a href="">Quantas vezes fomos campeoes?</a></h2>
            <p>Tres vezes!!!</p>
        </div>
    </body>
</html>